<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
	
	<div class="banner"></div>

    <%- include('partials/historial', {title: 'Historial'}) %>

    <%- include('partials/ofertas') %>

    <%- include('partials/footer') %>
</body>
</html>